@inject ICoursCommenceService CoursCommenceService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserService UserService

@if (coursCommences != null && StudyStatistique != null && AuthenticatedUser != null)
{
    <div class="dashboard-body">
        <div class="row gy-4">
            <div class="col-lg-9">
                <!-- Grettings Box Start -->
                <div class="grettings-box position-relative rounded-16 bg-main-600 overflow-hidden gap-16 flex-wrap z-1">
                    <img src="assets/images/bg/grettings-pattern.png" alt="" class="position-absolute inset-block-start-0 inset-inline-start-0 z-n1 w-100 h-100 opacity-6">
                    <div class="row gy-4">
                        <div class="col-sm-7">
                            <div class="grettings-box__content py-xl-4">
                                <h2 class="text-white mb-0">Bonjour, @AuthenticatedUser.FormalUserName !</h2>
                                <p class="text-15 fw-light mt-4 text-white">Apprenons quelque chose aujourd'hui</p>
                                <p class="text-lg fw-light mt-24 text-white">Définissez votre plan d'étude et progressez avec la communauté</p>
                            </div>
                        </div>
                        <div class="col-sm-5 d-sm-block d-none">
                            <div class="text-center h-100 d-flex justify-content-center align-items-end ">
                                <img src="assets/images/thumbs/gretting-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grettings Box End -->
                <!-- Table Start -->
                <div class="card mt-24 overflow-hidden">
                    <div class="card-header">
                        <div class="mb-0 flex-between flex-wrap gap-8">
                            <h4 class="mb-0">Vos Cours</h4>
                            <NavLink href="/courses/etudiant/started" class="text-13 fw-medium text-main-600 hover-text-decoration-underline">Voir Tout</NavLink>
                        </div>
                    </div>
                    <div class="card-body p-0 overflow-x-auto scroll-sm scroll-sm-horizontal">
                        <table class="table style-two mb-0">
                            <thead class="border border-start-0 border-end-0">
                                <tr>
                                    <th style="background-color: white !important">Titre du cours</th>
                                    <th style="background-color: white !important">Progrès</th>
                                    <th style="background-color: white !important" class="text-center">Statut</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cc in coursCommences)
                                {
                                    <tr>
                                        <td>
                                            <div class="flex-align gap-8">
                                                <div class="w-40 h-40 rounded-circle bg-main-600 flex-center flex-shrink-0">
                                                    <img class="w-40 h-40 rounded-circle" src="@cc.Cours.CoursImg" alt="">
                                                </div>
                                                <div class="">
                                                    <h6 class="mb-0">@cc.Cours.Nom</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-align gap-8 mt-12">
                                                <div class="progress w-100px  bg-main-100 rounded-pill h-4" role="progressbar" aria-label="Basic example" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar bg-main-600 rounded-pill" style="width: @cc.Progres%"></div>
                                                </div>
                                                <span class="text-main-600 flex-shrink-0 text-13 fw-medium">@cc.Progres%</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-align justify-content-center gap-16">
                                                @if (cc.Progres == 100)
                                                {
                                                    <span class="text-13 py-2 px-8 bg-success-50 text-success-600 d-inline-flex align-items-center gap-8 rounded-pill">
                                                        <span class="w-6 h-6 bg-success-600 rounded-circle flex-shrink-0"></span>
                                                        Terminé
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="text-13 py-2 px-8 bg-warning-50 text-warning-600 d-inline-flex align-items-center gap-8 rounded-pill">
                                                        <span class="w-6 h-6 bg-warning-600 rounded-circle flex-shrink-0"></span>
                                                        En Cours
                                                    </span>
                                                }
                                                <NavLink href="@watchCours(cc)" class="text-gray-900 hover-text-main-600 text-md d-flex"><i class="ph ph-caret-right"></i></NavLink>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Table End -->
                <!-- Hour Spent Card Start -->
                <div class="card mt-24 overflow-hidden">
                    <div class="card-header">
                        <div class="mb-0 flex-between flex-wrap gap-8">
                            <h4 class="mb-0">Cours Terminés Cette Année</h4>
                            <div class="flex-align gap-16 flex-wrap">
                                <div class="flex-align flex-wrap gap-16">
                                    <div class="flex-align flex-wrap gap-8">
                                        <span class="w-8 h-8 rounded-circle bg-main-two-600"></span>
                                        <span class="text-13 text-gray-600">Nombre de Cours</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div id="stackedColumnChart1"></div>
                    </div>
                </div>
                <!-- Hour Spent Card End -->
            </div>
            <div class="col-lg-3">
                <!-- Calendar Start -->
                <div class="card">
                    <div class="card-body">
                        <div class="calendar">
                            <div class="calendar__header">
                                <button type="button" class="calendar__arrow left"><i class="ph ph-caret-left"></i></button>
                                <p class="display h6 mb-0">""</p>
                                <button type="button" class="calendar__arrow right"><i class="ph ph-caret-right"></i></button>
                            </div>

                            <div class="calendar__week week">
                                <div class="calendar__week-text">Di</div>
                                <div class="calendar__week-text">Lu</div>
                                <div class="calendar__week-text">Ma</div>
                                <div class="calendar__week-text">Me</div>
                                <div class="calendar__week-text">Je</div>
                                <div class="calendar__week-text">Ve</div>
                                <div class="calendar__week-text">Sa</div>
                            </div>
                            <div class="days"></div>
                        </div>

                        <!-- Events start -->
                        <div class="">
                            <div class="mt-24 mb-24">
                                <div class="flex-align mb-8 gap-16">
                                    <span class="text-sm text-gray-300 flex-shrink-0">Aujourd'hui</span>
                                    <span class="border border-gray-50 border-dashed flex-grow-1"></span>
                                </div>
                                <div class="event-item bg-gray-50 rounded-8 p-16">
                                    <div class=" flex-between gap-4">
                                        <div class="flex-align gap-8">
                                            <span class="icon d-flex w-44 h-44 bg-white rounded-8 flex-center text-2xl"><i class="ph ph-squares-four"></i></span>
                                            <div class="">
                                                <h6 class="mb-2">Test des éléments de design</h6>
                                                <span class="">10:00 - 11:00 AM</span>
                                            </div>
                                        </div>
                                        <div class="dropdown flex-shrink-0">
                                            <button class="text-gray-400 text-xl d-flex rounded-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ph-fill ph-dots-three-outline"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu--md border-0 bg-transparent p-0">
                                                <div class="card border border-gray-100 rounded-12 box-shadow-custom">
                                                    <div class="card-body p-12">
                                                        <div class="max-h-200 overflow-y-auto scroll-sm pe-8">
                                                            <ul>
                                                                <li class="mb-0">
                                                                    <button type="button" class="delete-btn py-6 text-15 px-8 hover-bg-gray-50 text-gray-300 w-100 rounded-8 fw-normal text-xs d-block text-start hover-text-gray-600">
                                                                        <span class="text d-flex align-items-center gap-8"> <i class="ph ph-trash"></i> Supprimer</span>
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="mt-24">
                                <div class="flex-align mb-8 gap-16">
                                    <span class="text-sm text-gray-300 flex-shrink-0">Sam, 24 Août</span>
                                    <span class="border border-gray-50 border-dashed flex-grow-1"></span>
                                </div>
                                <div class="event-item bg-gray-50 rounded-8 p-16">
                                    <div class=" flex-between gap-4">
                                        <div class="flex-align gap-8">
                                            <span class="icon d-flex w-44 h-44 bg-white rounded-8 flex-center text-2xl"><i class="ph ph-magic-wand"></i></span>
                                            <div class="">
                                                <h6 class="mb-2">Test des principes de design</h6>
                                                <span class="">10:00 - 11:00 AM</span>
                                            </div>
                                        </div>
                                        <div class="dropdown flex-shrink-0">
                                            <button class="text-gray-400 text-xl d-flex rounded-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ph-fill ph-dots-three-outline"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu--md border-0 bg-transparent p-0">
                                                <div class="card border border-gray-100 rounded-12 box-shadow-custom">
                                                    <div class="card-body p-12">
                                                        <div class="max-h-200 overflow-y-auto scroll-sm pe-8">
                                                            <ul>
                                                                <li class="mb-0">
                                                                    <button type="button" class="delete-btn py-6 text-15 px-8 hover-bg-gray-50 text-gray-300 w-100 rounded-8 fw-normal text-xs d-block text-start hover-text-gray-600">
                                                                        <span class="text d-flex align-items-center gap-8"> <i class="ph ph-trash"></i> Supprimer</span>
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="event-item bg-gray-50 rounded-8 p-16 mt-16">
                                    <div class=" flex-between gap-4">
                                        <div class="flex-align gap-8">
                                            <span class="icon d-flex w-44 h-44 bg-white rounded-8 flex-center text-2xl"><i class="ph ph-briefcase"></i></span>
                                            <div class="">
                                                <h6 class="mb-2">Préparation Entretien d'Embauche</h6>
                                                <span class="">09:00 - 10:00 AM</span>
                                            </div>
                                        </div>
                                        <div class="dropdown flex-shrink-0">
                                            <button class="text-gray-400 text-xl d-flex rounded-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ph-fill ph-dots-three-outline"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu--md border-0 bg-transparent p-0">
                                                <div class="card border border-gray-100 rounded-12 box-shadow-custom">
                                                    <div class="card-body p-12">
                                                        <div class="max-h-200 overflow-y-auto scroll-sm pe-8">
                                                            <ul>
                                                                <li class="mb-0">
                                                                    <button type="button" class="delete-btn py-6 text-15 px-8 hover-bg-gray-50 text-gray-300 w-100 rounded-8 fw-normal text-xs d-block text-start hover-text-gray-600">
                                                                        <span class="text d-flex align-items-center gap-8"> <i class="ph ph-trash"></i> Supprimer</span>
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="event.html" class="btn btn-main w-100 mt-24">Tous les Événements</a>
                        </div>
                        <!-- Events End -->
                    </div>
                </div>
                <!-- Calendar End -->
                <!-- Donut Chart Start -->
                <div class="card mt-24">
                    <div class="card h-100">
                        <div class="card-header border-bottom border-gray-100 flex-between flex-wrap gap-8">
                            <h5 class="mb-0">Activité Totale</h5>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <span class="text-gray-200 text-lg mb-12 mt-10 d-block text-center">Somme des cours</span>
                                <h1 class="text-48 fw-medium mb-12 text-center">@somme</h1>
                                <div class="flex-between flex-wrap">
                                    <div class="d-flex gap-8 mt-12 flex-column w-50-perc pe-8">
                                        <div class="progress w-100 bg-main-100 rounded-pill h-4" role="progressbar" aria-label="Basic example" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar bg-main-600 rounded-pill" style="width: @pourcentageOnGoing%"></div>
                                        </div>
                                        <span class="text-neutral-600 flex-shrink-0 text-13 fw-medium">@pourcentageOnGoing%</span>
                                    </div>
                                    <div class="d-flex gap-8 mt-12 flex-column w-50-perc ps-8">
                                        <div class="progress w-100 bg-main-two-100 rounded-pill h-4" role="progressbar" aria-label="Basic example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar bg-main-two-600 rounded-pill" style="width: @pourcentageCompeleted%"></div>
                                        </div>
                                        <span class="text-neutral-600 flex-shrink-0 text-13 fw-medium">@pourcentageCompeleted%</span>
                                    </div>
                                </div>

                                <!-- Progress Card Start -->
                                <div class="mt-20">
                                    <div class="bg-primary-50 rounded-16 p-12 flex-between flex-wrap gap-8 mb-16">
                                        <div class="flex-align gap-16">
                                            <span class="w-48 h-48 rounded-8 flex-center text-xl bg-primary-600 text-white"><i class="ph ph-calendar-dots"></i></span>
                                            <h2 class="mb-0 fw-medium text-primary-600">@nbCourseEnCours</h2>
                                        </div>
                                        <span class="px-16 py-4 rounded-pill bg-white border border-primary-600 text-primary-600 fw-medium">En Cours</span>
                                    </div>
                                    <div class="bg-success-50 rounded-16 p-12 flex-between flex-wrap gap-8 mb-0">
                                        <div class="flex-align gap-16">
                                            <span class="w-48 h-48 rounded-8 flex-center text-xl bg-success-600 text-white"><i class="ph ph-calendar-dots"></i></span>
                                            <h2 class="mb-0 fw-medium text-success-600">@nbCourseCompleted</h2>
                                        </div>
                                        <span class="px-16 py-4 rounded-pill bg-white border border-success-600 text-success-600 fw-medium">Terminé</span>
                                    </div>
                                </div>
                                <!-- Progress Card End -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Donut Chart End -->
            </div>
        </div>
    </div>
    <script src="assets/js/apexcharts.min.js"></script>
    <script @key="StudyStatistique">
        function initChart(){
        var options = {
        series: [{
        name: 'Cours Terminé',
        data: [
        @for (int i = 1; i <= 11; i++)
        {
            @(StudyStatistique[i] + ",")
        }
        @StudyStatistique[12]
        ]

        }],
        colors: ['#27CFA7'],
        chart: {
        type: 'bar',
        height: 400,
        stacked: true,
        toolbar: {
        show: false
        },
        zoom: {
        enabled: true
        }
        },
        plotOptions: {
        bar: {
        columnWidth: "35%",
        horizontal: false,
        borderRadius: 10,
        borderRadiusApplication: 'end', // 'around', 'end'
        borderRadiusWhenStacked: 'last', // 'all', 'last'
        dataLabels: {
        total: {
        enabled: false,
        style: {
        fontSize: '13px',
        fontWeight: 900,
        }
        }
        }
        },
        },
        dataLabels: {
        enabled: false // Disable bar labels globally
        },
        grid: {
        show: true,
        borderColor: '#d5dbe7',
        strokeDashArray: 3,
        position: 'back',
        },
        xaxis: {
        categories: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sep', 'Oct', 'Nov', 'Déc'],
        },
        yaxis: {
        labels: {

        style: {
        fontSize: "14px"
        }
        },
        },
        legend: {
        show: false,
        position: 'top',
        offsetY: 0,
        horizontalAlign: 'start',
        markers: {
        // shape: 'circle'
        radius: 50,
        }
        },
        fill: {
        opacity: 1
        }
        };
        var elementstudy = document.querySelector("#stackedColumnChart1");
        if(elementstudy != null){
        elementstudy.innerHTML = "";
        }
        var chart = new ApexCharts(elementstudy, options);
        chart.render();
        }
        initChart();
    </script>
}
@code {
    public ApplicationUser? AuthenticatedUser { get; set; }
    List<CoursCommence> coursCommences;
    Dictionary<int, int> StudyStatistique;
    int nbCourseCompleted, nbCourseEnCours, somme, pourcentageCompeleted, pourcentageOnGoing;
    bool nullStat = true;
    protected override async Task OnInitializedAsync()
    {
        AuthenticatedUser = await UserService.GetAuthenticatedUserAsync();

        if (AuthenticatedUser != null)
        {
            StudyStatistique = await CoursCommenceService.GetCoursTermineParMoisAsync(DateTime.UtcNow.Year, AuthenticatedUser.Id);
            coursCommences = (await CoursCommenceService.GetByEtudiantIdAsync(AuthenticatedUser.Id)).Take(5).ToList();
            nbCourseCompleted = await CoursCommenceService.CountByEtudiantIdCompletedAsync(AuthenticatedUser.Id);
            nbCourseEnCours = await CoursCommenceService.CountByEtudiantIdOnGoingAsync(AuthenticatedUser.Id);
            somme = nbCourseCompleted + nbCourseEnCours;
            pourcentageCompeleted = nbCourseCompleted * 100 / somme;
            pourcentageOnGoing = nbCourseEnCours * 100 / somme;
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (coursCommences != null && StudyStatistique != null && AuthenticatedUser != null)
        {
            await JSRuntime.InvokeVoidAsync("initChart");
            nullStat = false;
        }

    }
    private string watchCours(CoursCommence cc)
    {
        return NavigationManager.GetUriWithQueryParameters(
        NavigationManager.ToAbsoluteUri("courses/etudiant/watch").AbsoluteUri,
        new Dictionary<string, object?> { ["coursCommenceId"] = cc.Id });
    }
}